P {
    margin-bottom: 12px;
}
h1 {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 0;
    color: #eb1f1f;;
}

h2 {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 8px;
    border-bottom: 1px solid gray;
}

h3 {
    font-weight: 400;
}
#header h2.header-title {
font-size: 18px;
border-bottom:none;
margin-bottom: 10px;
}
#header {
    margin-bottom: 32px;
    text-align: center;
}
#footer {
    margin-top: 64px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;

}

.bg-blue {
    color: #fff;
  
    background: #009bcc;
  }

  .bg-blue:hover {
    background: #00789c;
  }

  .bg-green:hover {
    background: #799c18;
  }

  .bg-orange:hover {
    background: #d26105;
  }
  
  .bg-green {
    color: #fff;
  
    background: #96c21f;
  }
  
  .bg-orange {
    color: #fff;
  
    background: #ed6b04;
  }
  
 .todo-table {
    width: 100%;
  
    background: #f5f5f5;
  }
  
  .todo-table th {
    vertical-align: middle;
  }
  
  .todo-table td,
  .todo-table th {
    width: 14%;
    padding: 20px 0;
  }
  
  .todo-table td {
    text-align: center;
  }
  
  .todo-name {
    margin-bottom: 0;
  }

  .list {
    font-size: 18px;
  }
  .list li::after {
        position: absolute;
      
        width: 20px;
        height: 20px;
      
        background-image: url("assets/smile.png");
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
  }

  .news {
    columns: 3;
    overflow-x: hidden;
  }
  .news-block {
    box-sizing: border-box;
    width: 400px;
    height: 220px;
    background: #3e3838;
    text-align: left;
    padding: 10px;
    margin: 0px;
    border: #fff solid 10px;
    overflow: hidden;
  }
  .date {
    font-family: sans-serif;
    font-size: 12px;
    color: #f5f5f5;
    overflow: hidden;
  }
  .news-name {
    font-family: sans-serif;
    font-size: 23px;
    color: #f5f5f5;
    overflow: hidden;
    display: flex;
  }
    .news-announce {
    font-family: sans-serif;
    font-size: 15px;
    color: #f5f5f5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


.real-header {
  position: fixed;
  top: 0;

  width: 100%;
  height: 100px;

  background: #3e3838;

  font-size: 20px;
  text-align: center;
  color: #f5f5f5;
  font-family: sans-serif;
  z-index: 1000;
}

.padding-header {
  padding-top: 100px;
}

#CATALOG----------------

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  background: #3e3838;
  padding: 10px;
}

.catalog-item {
  background: #f5f5f5;
  width: calc((100%/5)-20px);
  margin: 10px;
}

.catalog-item h3 {
  font-size: 15px;
  color: #3e3838;
}

.product-img {
  width: calc((100%/5)-25px);
  height: 30px;
  background-image: linear-gradient(45deg, #EECFBA, #C5DDE8);
  border: 2px solid #d26105;
}

.product-price {
  font-size: 15px;
  color: crimson;
}

